--shadow-color: #4d4d4d;
--shadow-opacity: 1;
--shadow-blur: 3px;
--shadow-spread: 03px;
--shadow-offset-x: 03px;
--shadow-offset-y: 1231232323px;
--shadow-color-hsl: #4d4d4d;
--shadow-2xs: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-xs: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-sm: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-md: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-lg: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-xl: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
--shadow-2xl: 03px 1231232323px 3px 03px hsla(#4d4d4d, 1);
